<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.8.1/themes/prism.min.css">
    <link rel="stylesheet" href="/theme.scss">

    <script src="/_dom.js"></script>

    <script>
        window.addEventListener('pageshow', function(event) {
            console.log('pageshow');
        });
    </script>
    <!-- Imports -->
    {{% svg /_logos/ as logo }}
    {{% svg /_icons/ as icon }}

    {{% partial /_nav }}
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 d-none d-sm-block bg-light sidebar">
            <div class="float-right">
            <div class="logo">
                <a href="/" title="Stacklane">{{>logo-stacklane}}</a>
                <a href="/" title="Docs" class="ext">docs</a>
            </div>
            <div class="nav-border"></div>
            <nav class="mt-4">
                {{>nav}}
            </nav>
            </div>
        </div>
        <main class="col-sm-8 ml-sm-auto col-md-9 pt-3 pl-4">
            {{$content}}Content{{/content}}

            <footer class="footer text-center mt-4">
                <p>{{>icon-copyright-sm}} {{>logo-stacklane}}</p>
            </footer>
        </main>
    </div>
</div>

<!--
    Syntax highlighting library
-->
<!--
<script src="https://cdn.jsdelivr.net/combine/npm/prismjs@1.8.1/components/prism-core.min.js,npm/prismjs@1.8.1/components/prism-clike.min.js,npm/prismjs@1.8.1/components/prism-markdown.min.js,npm/prismjs@1.8.1/components/prism-markup.min.js,npm/prismjs@1.8.1/components/prism-json.min.js,npm/prismjs@1.8.1/components/prism-javascript.min.js,npm/prismjs@1.8.1/components/prism-sass.min.js,npm/prismjs@1.8.1/components/prism-css.min.js"></script>
-->
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.8.1/prism.min.js"></script>

<!--
    Select the current nav link, and enable category expansion.
-->
<script>
    $each('.nav-link', function(e){
        if (e.getAttribute('href') == window.location.pathname){
            e.classList.add('active');
            e.parentElement.parentElement.classList.toggle('d-none', false);
        }
    });

    $on('.nav-category', 'click', function(e){
        var cat = $up(event.target, '.nav-category');
        cat.nextElementSibling.classList.toggle('d-none');
    });
</script>


</body>
</html>