<!DOCTYPE html>
<html>
<head>
    <title>{{$title}}Docs{{/title}}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/prismjs@1.8.1/themes/prism.min.css,npm/prismjs@1.8.1/plugins/line-highlight/prism-line-highlight.min.css">
    <link rel="stylesheet" href="/theme.scss">

    <script src="/_dom.js"></script>

    <!-- Imports -->
    {{% svg /_logos/ as logo }}
    {{% svg /_icons/ as icon }}

    {{% partial /_nav }}
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 d-none d-sm-block bg-light sidebar">
            <div class="float-right">
            <div class="logo">
                <a href="http://stacklane.com" title="Stacklane">{{>logo-stacklane}}</a>
                <a href="http://stacklane.com/docs" title="Docs" class="ext">docs</a>
            </div>
            <div class="nav-border"></div>
            <nav class="mt-4">
                {{>nav}}
            </nav>
            </div>
        </div>
        <main class="col-sm-8 ml-sm-auto col-md-9 pt-3 pl-4">
            {{$content}}Content{{/content}}

            <footer class="footer text-center mt-4">
                <p>{{>icon-copyright-sm}} {{>logo-stacklane}}</p>
            </footer>
        </main>
    </div>
</div>

<!--
    Syntax highlighting library
-->
<!--
<script src="https://cdn.jsdelivr.net/combine/npm/prismjs@1.8.1,npm/prismjs@1.8.1/plugins/line-highlight/prism-line-highlight.min.js" async></script>
-->
<script src="https://cdn.jsdelivr.net/combine/npm/prismjs@1.8.4,npm/prismjs@1.8.4/plugins/line-highlight/prism-line-highlight.min.js,npm/prismjs@1.8.4/components/prism-yaml.min.js" async></script>

</body>
</html>