<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.8.1/themes/prism.min.css">
    <link rel="stylesheet" href="/theme.css">

    <!-- Imports -->
    {{% svg /_logos/ as logo }}
    {{% svg /_icons/ as icon }}
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 d-none d-sm-block bg-light sidebar pr-3">
            <div class="float-right">
            <div class="logo">
                <a class="site" href="/" title="Stacklane">{{>logo-stacklane}}</a>
            </div>
            <div class="nav-border"></div>
            <nav class="mt-4">
                <h1 class="nav-category">{{>icon-cloud-sm}} Basics</h1>
                <ul class="d-none">
                    <li><a class="nav-link" href="/">Overview</a></li>
                    <li><a class="nav-link" href="/roadmap">Roadmap</a></li>
                    <!--
                    <li><a class="nav-link" href="/quickstart">Quickstart</a></li>
                    -->
                </ul>
                <h1 class="nav-category">{{>icon-target-sm}} Routing</h1>
                <ul class="d-none">
                    <li><a class="nav-link" href="/routing/">Overview</a></li>
                    <li><a class="nav-link" href="/routing/js">JavaScript</a></li>
                    <li><a class="nav-link" href="/routing/mustache">Mustache</a></li>
                    <li><a class="nav-link" href="/routing/assets">Assets</a></li>
                    <li><a class="nav-link" href="/routing/suppliers">Suppliers</a></li>
                    <li><a class="nav-link" href="/routing/errors">Errors</a></li>
                    <li><a class="nav-link" href="/routing/csp">CSP</a></li>
                </ul>
                <h1 class="nav-category">{{>icon-spreadsheet-sm}} Data</h1>
                <ul class="d-none">
                    <li><a class="nav-link" href="/data/">Overview</a></li>
                    <li><a class="nav-link" href="/data/types">Types</a></li>
                    <li><a class="nav-link" href="/data/fields">Fields</a></li>
                    <li><a class="nav-link" href="/data/container">Containers</a></li>
                </ul>
                <h1 class="nav-category">{{>icon-document-sm}} Scripting</h1>
                <ul class="d-none">
                    <li><a class="nav-link" href="/script/">Overview</a></li>
                    <li ><a class="nav-link" href="/script/libraries">Libraries</a></li>
                </ul>
                <h1 class="nav-category">{{>icon-browser-sm}} Development</h1>
                <ul class="d-none">
                    <li><a class="nav-link" href="/dev/">Overview</a></li>
                    <li><a class="nav-link" href="/dev/playground">Playground</a></li>
                </ul>
            </nav>
            </div>
        </div>
        <main class="col-sm-8 ml-sm-auto col-md-9 pt-3 pl-4">
            {{$content}}Content{{/content}}
        </main>
    </div>

</div>

<!--
    Syntax highlighting library
-->
<!--
<script src="https://cdn.jsdelivr.net/combine/npm/prismjs@1.8.1/components/prism-core.min.js,npm/prismjs@1.8.1/components/prism-clike.min.js,npm/prismjs@1.8.1/components/prism-markdown.min.js,npm/prismjs@1.8.1/components/prism-markup.min.js,npm/prismjs@1.8.1/components/prism-json.min.js,npm/prismjs@1.8.1/components/prism-javascript.min.js,npm/prismjs@1.8.1/components/prism-sass.min.js,npm/prismjs@1.8.1/components/prism-css.min.js"></script>
-->
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.8.1/prism.min.js"></script>

<!--
    Select the current nav link, and enable category expansion.
-->
<script>
    var elements = document.getElementsByClassName('nav-link');
    var loc = window.location.pathname;
    for (var i = 0; i < elements.length; i++){
        if (elements[i].getAttribute('href') == loc){
            elements[i].classList.add('active');
            elements[i].parentElement.parentElement.classList.toggle('d-none', false);
        }
    }

    var categories = document.getElementsByClassName('nav-category');
    for (var i = 0; i < categories.length; i++){
        categories[i].addEventListener("click", function( event ) {
            var cat = findCategory(event.target, 'nav-category');
            cat.nextElementSibling.classList.toggle('d-none');
        }, false);
    }

    function findCategory(el, cls) {
        if (el.classList.contains(cls)) return el;
        while ((el = el.parentElement) && !el.classList.contains(cls));
        return el;
    }
</script>

</body>
</html>