{{% svg /_icons/ as icon }}
<h1 class="nav-category">{{>icon-cloud-sm}} Basics</h1>
<ul class="d-none">
    <li><a class="nav-link" href="/">Overview</a></li>
    <li><a class="nav-link" href="/dev">Development</a></li>
    <li><a class="nav-link" href="/roadmap">Roadmap</a></li>
    <li><a class="nav-link" href="/security">Security</a></li>

    <!--
    <li><a class="nav-link" href="/quickstart">Quickstart</a></li>
    -->
</ul>
<h1 class="nav-category">{{>icon-target-sm}} Routing</h1>
<ul class="d-none">
    <li><a class="nav-link" href="/routing/">Overview</a></li>
    <li><a class="nav-link" href="/routing/mustache">Mustache</a></li>
    <li><a class="nav-link" href="/routing/js">JavaScript</a></li>
    <li><a class="nav-link" href="/routing/assets">Assets</a></li>
    <li><a class="nav-link" href="/routing/suppliers">Suppliers</a></li>
    <li><a class="nav-link" href="/routing/errors">Errors</a></li>
</ul>
<h1 class="nav-category">{{>icon-spreadsheet-sm}} Data</h1>
<ul class="d-none">
    <li><a class="nav-link" href="/data/">Overview</a></li>
    <li><a class="nav-link" href="/data/containers">Containers</a></li>
    <li><a class="nav-link" href="/data/types">Types</a></li>
    <li><a class="nav-link" href="/data/fields">Fields</a></li>
    <li><a class="nav-link" href="/data/queries">Queries</a></li>
</ul>
<h1 class="nav-category">{{>icon-document-sm}} Scripting</h1>
<ul class="d-none">
    <li><a class="nav-link" href="/script/">Overview</a></li>
    <li ><a class="nav-link" href="/script/modules">Modules</a></li>
</ul>
<div class="nav-separator">
    <a href="/play"><h1 class="">{{>icon-browser-sm}} Playground</h1></a>
</div>