
{{% partial /_layout }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Dev Process</h1>

        <p>
            Learn about suggested development processes.
        </p>
    </header>


    <section>

        web storm.

        but anything

        git.

    </section>
</article>


{{/content}}
{{/layout}}
