{{% partial /_layout }}

{{<layout}}

{{$title}}Development{{/title}}

{{$content}}

<style>
    .card-title img{
        height: 1em;
    }
</style>

<article>
    <header>
        <h1>Development Overview</h1>

        <p>
            Learn about developing for the Stacklane platform.
        </p>
    </header>

    <section>
        <p>
            Stacklane doesn't require any special UI setup to start coding -- everything
            needed to run a Stacklane site is in standard file formats,
            hosted in a GitHub source repository.  Branch and tag to your heart's delight.
            We recommend using WebStorm and its Stacklane plugin.
        </p>
    </section>

    <section>
        <h2>Recommended Environment</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><img src="images/WebStormLogo.png" /> WebStorm</h4>
                        <h6 class="card-subtitle mb-2 text-muted">+ Stacklane Plugin</h6>
                        <p class="card-text">
                            WebStorm natively supports all
                            Stacklane file formats, including GIT integration.
                            Grab the
                            <a target="_blank" href="https://plugins.jetbrains.com/plugin/10313-stacklane">Stacklane plugin</a>
                            for WebStorm for easy testing.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a target="_blank" href="https://www.jetbrains.com/webstorm/download/"
                           class="btn btn-sm btn-primary">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</article>


{{/content}}
{{/layout}}
