{{% partial /_layout }}

{{<layout}}

{{$title}}Development{{/title}}

{{$content}}

<article>
    <header>
        <h1>Development Tools</h1>

        <p>
            Learn about developing for the Stacklane platform.
        </p>
    </header>

    <section>
        <p>
            Stacklane doesn't require any special UI setup -- everything
            needed to run a Stacklane site is in standard file formats,
            hosted in a GIT source repository.
        </p>
    </section>

    <section>
        <h2>Development Environment</h2>

        <p>
            Any tool will do, however we recommend
            <a target="_blank" href="https://www.jetbrains.com/webstorm/">WebStorm</a>.
            It's bundled with smart syntax handling for all of the file types Stacklane uses,
            great SASS support, and of course GIT integration.
            No plugins needed, just download and go.
        </p>
    </section>

    <section>
        <h2>Source Repository</h2>

        <p>
            Your GIT source code repository contains everything needed to run a Stacklane site.

            Branch and tag to your heart's delight.

            Currently supported repository types:

        <ul>
            <li>Github.com Public Repository</li>
        </ul>
        </p>
    </section>
</article>


{{/content}}
{{/layout}}
