
{{% partial /_partials/ }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Documentation</h1>

        <p>
            <strong>Welcome to Stacklane</b></strong>

            Stacklane is the automatically scalable platform for smart microservices,
            data, and the restful web. No servers, no databases, no build configuration.
            A perfect stack of building blocks working in harmony for frictionless execution of ideas.
        </p>
    </header>

</article>

{{/content}}
{{/layout}}
