
{{% partial /_layout }}

{{<layout}}

{{$content}}

<article>
    <header>
        <h1>Documentation</h1>

        <p>
            <b>Welcome to Stacklane!</b> Learn about our approach, features, and how to get started.
        </p>
    </header>

    <section>
        <p>
            Stacklane is the automatically scalable platform for smart microservices,
            data, and the restful web. No servers, no databases, no build configuration.
            A perfect stack of building blocks for frictionless execution of ideas.
        </p>
    </section>

    <section>
        <h2>Our Approach</h2>

        <p>
            We distill common and battle-worn best practices into readily usable components.
            Wherever possible we do not reinvent the wheel,
            but make the wheel easier to pull off the shelf and drive.
        </p>

        <h3>Carefully Selected</h3>
        <p>
            Unlike a polyglot platform where any language/library is fair game,
            we believe this brings a hidden cost -- if every option is available, then many bad choices are too.
            We instead use selective, time-tested practices which we then optimize
            specifically for performance and the least amount of friction, setup, or compromise.
        </p>

        <h3>Convention over Configuration or new APIs</h3>
        <p>
            We want your learning curve to be low, and results to be direct and obvious.  Wherever
            possible we avoid creating a new API, and instead favor conventions over configuration.
            You'll see this everywhere from how files/folders are named, to the code in JavaScript endpoints.
            Stacklane wants your sole focus to be on purpose and outcome.
        </p>

        <h3>Something for Everyone</h3>
        <p>
            <ul>
             <li>
            Junior developers are provided architecture-in-a-box that
            keeps the quality of software high and scalable.
             </li>
            <li>
            Senior developers can accelerate decision
            making in the ever expanding cloud infrastructure space.
            </li>
            <li>
            Business owners are ensured fast results that adhere to performance
            and security best practices, while insulating projects from developer churn.
            </li>
            </ul>
        </p>
    </section>

</article>

{{/content}}
{{/layout}}
