
{{% partial /_layout }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Documentation</h1>

        <p>
            <b>Welcome to Stacklane!</b>. Learn about our approach, features, and how to get started.
        </p>
    </header>

    <section>
        <p>
        Stacklane is the automatically scalable platform for smart microservices,
        data, and the restful web. No servers, no databases, no build configuration.
        A perfect stack of building blocks working in harmony for frictionless execution of ideas.
        </p>
    </section>

    <section>
        <h2>Our Approach</h2>

        <p>
            Stacklane wants to stay out of your way, letting you get from idea to execution
            as quickly as possible.
            We distill common and battle worn best practices --
            wherever possible we do not reinvent the wheel,
            but make the wheel easier to pull off the shelf and drive.
        </p>
        <p>
            Unlike a polyglot platform where any language/library is fair game,
            we believe this brings a hidden cost -- if every option is available, then many bad choices are too.
            We instead use selective, well-known, time tested practices which we then optimize
            specifically for performance, and the least amount of friction, setup, or compromise.
        </p>
        <p>
            We want your learning curve to be low, and results to be direct and obvious.  Wherever
            possible we avoid creating a new API, and instead favor conventions over configuration.
            You'll see this everywhere from how files/folders are named, to the code in JavaScript endpoints.
            Stacklane wants your sole focus to be on purpose and outcome.
        </p>
    </section>

    <section>
        <h2>Infrastructure</h2>

        <p>
            We've been making technology choices and building web software for 20 years.
            There are mistakes we've made along the way, hard lessons learned, and choices we've had
            to live with years into a startup.
            The Stacklane platform brings decades of experience into essential and primary patterns,
            while abstracting best-in-class cloud infrastructure completely.
        </p>
        <p>
            The advent of cloud computing has changed the game --
            and it has also drastically increased the stack options available.
            Infrastructure services are rapidly
            changing and your code should not have to change with it.
            We have selected key providers for to power our current services, and we're
            constantly evaluating new offerings for incorporation into Stacklane's offering.
        </p>
    </section>


</article>

{{/content}}
{{/layout}}
