{{% partial /_layout }}

{{<layout}}

{{$title}}Infrastructure{{/title}}

{{$content}}

<article>
    <header>
        <h1>Infrastructure &amp; Security</h1>

        <p>
            Learn how Stacklane protects data and encourages security best practices.
        </p>
    </header>

    <section>
        <p>
            The Stacklane platform distills 20 years of web software experience
            into essential and primary patterns,
            while abstracting best-in-class, no-compromise cloud infrastructure completely.
        </p>

        <p>
            Cloud infrastructure services are rapidly
            changing and your code should not have to change with it.
            We have selected key providers to power our current services, and we're
            constantly evaluating new offerings for incorporation into Stacklane.
        </p>
    </section>

    <section>
        <h2>HTTP/2 Enabled</h2>

        <p>
            HTTP/2 speeds up your site, and eliminates many
            old crutches that have been created to speed up sites with HTTP/1.1.
            In general, web developers no longer need to focus as much on
            reducing HTTP requests (by bundling, concatenating, or inlining)
            &mdash;
            instead small, granular resources can be cached independently and transferred in parallel.
        </p>
        <p>
            Concatenating files is no longer a best practice in HTTP/2.
            Even if only a single line of CSS is changed, browsers are forced to reload all of your CSS declarations.
            Similarly inline CSS or external JS directly into an HTML page is discouraged,
            as it means that browsers can't cache individual assets.
        </p>
        <p>
            Various build systems and have cropped up over the years to deal
            with what amounts to deficiencies in HTTP/1.1.
            "These hacks are indications of underlying problems in the protocol itself,
            and cause a number of problems on their own when used."
            (<a href="https://http2.github.io/faq/">HTTP/2 FAQ</a>).
            Simplify your code and start using HTTP/2 with Stacklane.
        </p>
        <p>
            (Note: All current browsers require SSL for HTTP/2)
        </p>
    </section>

    <section>
        <h2>Redundancy and Encryption</h2>

        <p>
            Highly available and durable, you can focus on building applications
            without worrying about traffic spikes.

            All data hosted through Stacklane is encrypted at rest and in transit.

            Sharding and replication are automatically handled,
            with data stored simultaneously across multiple geographically
            separated regions in North America.

            Endpoints are deployed in US West, US Central, and Western Europe,
            combined with 80+ global CDN edge locations.
        </p>
    </section>

    <section>
        <h2>Content Delivery Network</h2>

        <p>
            For assets such as images and styles, we deliver content via CDN, using locations in
            major metropolitan areas worldwide.
        </p>
    </section>

    <section>
        <h2><a name="csp">Content Security Policies</a></h2>
        <p>
            All pages served by Stacklane use a Content Security Policy (CSP).
            <a target="_blank" href="https://en.wikipedia.org/wiki/Content_Security_Policy">Content Security Policies</a>
            are a security standard which helps prevent common techniques for cross-site scripting (XSS), clickjacking, and other
            code injection attacks.
        </p>
        <p>
            The CSP header allows a host to declare trusted sources of content (JS execution, CSS styles, images etc).
            Stacklane makes using CSP easy through a combination of
            <a href="/endpoints/mustache#csp">automatic behavior and custom declarations</a>.
        </p>
    </section>

</article>


{{/content}}
{{/layout}}