
{{% partial /_layout }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Infrastructure &amp; Security</h1>

        <p>
            Learn how Stacklane protects data and encourages security best practices.
        </p>
    </header>

    <section>
        <p>
            The Stacklane platform distills 20 years of web software experience
            into essential and primary patterns,
            while abstracting best-in-class cloud infrastructure completely.
        </p>

        <p>
            Cloud infrastructure services are rapidly
            changing and your code should not have to change with it.
            We have selected key providers to power our current services, and we're
            constantly evaluating new offerings for incorporation into Stacklane's offering.
        </p>
    </section>

    <section>
        <h2>Redundancy and Encryption</h2>

        <p>
           All data hosted through Stacklane is encrypted at rest and in transit.
            Data is replicated simultaneously to multiple regions in North America
            separated by at least 100 miles.
        </p>

        <p>
            We serve endpoints from servers geographically load balanced on US East + West coasts,
            as well as Western Europe.
        </p>
    </section>

    <section>
        <h2><a name="csp">Content Security Policies</a></h2>
        <p>
            All pages served by Stacklane use a Content Security Policy (CSP).
            <a target="_blank" href="https://en.wikipedia.org/wiki/Content_Security_Policy">Content Security Policies</a>
            are a security standard which helps prevent common techniques for cross-site scripting (XSS), clickjacking, and other
            code injection attacks.
        </p>
        <p>
            The CSP header allows a host to declare trusted sources of content (JS execution, CSS styles, images etc).
            Stacklane makes using CSP easy through a combination of
            <a href="/endpoints/mustache#csp">automatic behavior and custom declarations</a>.
        </p>
    </section>

</article>


{{/content}}
{{/layout}}