{{% json /_examples as examples}}
{{% svg /_logos/ as logo }}
{{% partial /_layout }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Playground</h1>

        <p>
            Get started with an example, or create your own.
        </p>
    </header>

    <section>
        <h2>Load from GitHub.com</h2>

        <p>
            A public GitHub.com repository may be loaded and run. Paste your .git URL here.
            We'll check it for Stacklane compatible files and let you know of any problems.
            (Note: Playground data expires 48 hours after created.)
        </p>

        <p>
            <form id="form" method="post" action="/site" >
            <div class="input-group">
                <div class="input-group-addon">{{> logo-github}}</div>
                <input type="search" class="form-control" placeholder="https://github.com/your/stacklane-repo.git">
                <div class="input-group-addon"><button class="btn btn-light btn-sm">Load</button></div>
            </div>
            </form>
            <div id="formAlert" class="alert alert-danger d-none" role="alert">
                This is a danger alert—check it out!
            </div>
        </p>
    </section>

    <section>
        <h2>Examples</h2>

        <!--
            Data is loaded/imported from _examples.json
         -->
        {{#examples by 2 as grp}}
            <div class="card-deck small">
                {{#grp as example}}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h6 class="card-title">{{title}}</h6>
                            <p class="card-text">
                                {{desc}}
                            </p>
                        </div>
                        <div class="card-footer text-right">
                            <a href="{{src}}" class="btn btn-sm btn-light">Source</a>
                            <a href="{{load}}" class="btn btn-sm btn-light">Load</a>
                        </div>
                    </div>
                {{/grp}}
            </div>
        {{/examples}}

    </section>
</article>

<script>
    function validateForm(){
        document.getElementById('formAlert').classList.toggle('d-none');
        return false;
    }

    document.getElementById('form').addEventListener("submit", function( event ) {
        if (!validateForm()) event.stopPropagation();
    }, false);
</script>

{{/content}}
{{/layout}}