{{% json /_examples as examples}}
{{% svg /_logos/ as logo }}
{{% partial /_layout }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Playground</h1>

        <p>
            Get started with an example, or create your own.
        </p>
    </header>

    <section>
        <h2>Load from GitHub.com</h2>

        <p>
            A public GitHub.com repository may be loaded and run. Paste your .git URL here.
            We'll check it for Stacklane compatible files and let you know of any problems.
            (Note: Playground data expires 48 hours after created.)
        </p>

        <p>
            <form id="form" method="post" action="/site" >
            <div class="input-group">
                <div class="input-group-addon">{{> logo-github}}</div>
                <input id="github-url" type="search" class="form-control" placeholder="https://github.com/your/stacklane-repo.git">
                <div class="input-group-addon"><input type="submit" class="btn btn-light btn-sm" value="Load"></div>
            </div>
            </form>
            <div id="form-alert" class="alert alert-danger d-none" role="alert"></div>
        </p>
    </section>

    <section>
        <h2>Examples</h2>

        <!--
            Data is loaded/imported from _examples.json
         -->
        {{#examples by 2 as grp}}
            <div class="card-deck small">
                {{#grp as example}}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h6 class="card-title">{{title}}</h6>
                            <p class="card-text">
                                {{desc}}
                            </p>
                        </div>
                        <div class="card-footer text-right">
                            <a href="{{src}}" class="btn btn-sm btn-light">Source</a>
                            <a href="{{src}}" class="playground-example-loader btn btn-sm btn-light">Load</a>
                        </div>
                    </div>
                {{/grp}}
            </div>
        {{/examples}}

    </section>
</article>

<script>
    $get = function(id, cb){ return id.startsWith('.') ? Array.prototype.forEach.call(document.getElementsByClassName(id.substring(1)), cb) : document.getElementById(id); }

    function updateAlert(msg){
       $get('form-alert').innerHTML = msg;
    }

    function validateForm(){
        var url = $get('github-url').value;
        if (url == null || url.length == 0 || url.indexOf('github.com') < 0) {
            updateAlert('Enter a Github.com URL');
            return false;
        }
        if (!url.startsWith("https://") || !url.endsWith(".git")){
            updateAlert('This does not appear to be a valid Github.com repository URL.');
            return false;
        }
        return true;
    }

    $get('.playground-example-loader', function(e){
        e.addEventListener('click', function( event ) {
            var href = event.target.getAttribute('href');
            $get('github-url').value=href;
            console.log(href);
            $get('form').submit();
            event.preventDefault();
        }, false);
    });

    $get('github-url').addEventListener("keypress", function( event ) {
        $get('form-alert').classList.add('d-none');
    }, false);

    $get('form').addEventListener("submit", function( event ) {
        if (!validateForm()) {
            $get('form-alert').classList.remove('d-none');
            event.preventDefault();
        }

        var c = $get('form').getAttribute('action');
        var u = $get('github-url').value;
        $get('form').setAttribute('action', c + '?url=' + encodeURIComponent(u));
    }, false);
</script>

{{/content}}
{{/layout}}