
$enable-print-styles: false;

////

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/print";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
//@import "bootstrap/transitions";
//@import "bootstrap/dropdown";
//@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
//@import "bootstrap/nav";
//@import "bootstrap/navbar";
@import "bootstrap/card";
//@import "bootstrap/breadcrumb";
//@import "bootstrap/pagination";
@import "bootstrap/badge";
//@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
//@import "bootstrap/media";
@import "bootstrap/list-group";
//import "bootstrap/close";

// JS @import "bootstrap/modal";
// JS depends on popper: @import "bootstrap/tooltip";
// JS depends on popper: @import "bootstrap/popover";
//@import "bootstrap/carousel";

@import "bootstrap/utilities";

////////////////////////

$sl-logo-primary: #3b424c;
$sl-logo-secondary: #13bdce;


@mixin svg-color($color) {
  fill: $color;
  stroke: $color;
}

@mixin text-svg(){
  height: 1em !important;
  vertical-align: text-bottom;
}

@mixin sl-logo-color($primary, $secondary){
  .stacklane-logo {
    .logo-primary {
      fill: $primary;
    }
    .logo-secondary{
      fill: $secondary;
    }
  }
}

@include sl-logo-color($sl-logo-primary, $sl-logo-secondary);

/* Make sure filled and text elements only get fills */
.iconic-property-fill, .iconic-property-text {
  stroke: none !important;
}

/* Make sure stroked elements only get strokes */
.iconic-property-stroke {
  fill: none !important;
}

///

.logo{
  @include sl-logo-color($gray-900, $gray-900);

  margin-left: -1.2rem;
}
.logo a, .logo a:visited, .logo a:hover{
  text-decoration: none;
  display:inline-block;
}
.logo svg.stacklane-logo{
  height: 1rem;
  vertical-align:text-bottom;
}
.logo .stacklane-logo .logo-graphic{
  display:none;
}
.logo .ext{
  font-weight: 500;
  color: black;
  padding-left: .25rem;
}

/**
 * Article
 */

@media (min-width: map-get($grid-breakpoints, md) )  {
  article, footer {
 //   max-width: 75%;
  }
}
article, footer{
  font-size: 90%;
}
footer svg{
  height: 1rem;
}
article header{
  padding-top: 8px;
  padding-bottom: 39px;
  border-bottom: 2px solid #f4f6f7;
}
article header h1{
  font-size: $h2-font-size;
}
article section h2{
  font-size: $h4-font-size;
  margin-bottom: 1rem;
}
article section h3{
  font-size: $h6-font-size;
  text-decoration: underline;
}
article section{
  border-bottom: 2px solid #f4f6f7;
  padding: 2rem 0;
}
article pre{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background: #f7f8f9 !important;
  border-radius: 5px !important;
  position: relative !important;
}
article pre code{
  padding:0 !important;
  color: #333 !important;
  font-weight: 500 !important;
  font-size: 13px !important;
  line-height: 19px !important;
}
article code{
  white-space:pre;
}
article .code>pre{
  margin:0;
}
article section p:last-child,
article header p:last-child{
  margin-bottom: 0;
}

/*
 * Sidebar
 */

$sidebar-padding: 1rem;

.sidebar ul{
  list-style-type: none;
}

.sidebar {
  //position: fixed;
  //top: 0px;
  //bottom: 0;
  //left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  padding: 20px $sidebar-padding 20px 0;
  font-size: .8rem;
  background: #f5f7f9;
}

@media (min-width: 768px) {
  .sidebar {
    position:-webkit-sticky;
    position: sticky;
    top: 0rem;
    z-index: 1000;
    //max-height: calc(100vh - 0rem /*top*/);
    height: calc(100vh - 0rem);
  }
}

.sidebar h1{
  font-size: .8rem;
}

.sidebar nav ul {
  padding-left: 1.2rem;
}

.sidebar .nav-category{
  cursor:pointer;
}

.sidebar .nav-category:not(:first-child) {
  margin-top: 1rem;
}

.sidebar .nav-separator{
  border-top: 1px solid $gray-200;
  margin-top: 1rem;
  padding-top: 1rem;
  margin-right: -$sidebar-padding;
}
.sidebar .nav-separator a,
.sidebar .nav-separator a:active,
.sidebar .nav-separator a:visited{
  text-decoration: none;
  color: black;
}

.sidebar nav h1 svg{
  vertical-align: text-bottom;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar ul a {
  border-radius: 0;
  padding: 0;
  color: #4c555a;
}
.sidebar ul a:visited {
  color: #4c555a;
}
.sidebar ul a:hover {
  color: black;
}
.sidebar ul a.active{
  color: #0099e5
}

#subnav {
  position:-webkit-sticky;
  position: sticky;
  top: 0rem;
  max-height: calc(100vh - 0rem /*TOP*/);
  overflow-y: auto;
}

#subnav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
}

#subnav ul {
  padding-left: 0;
  border-left: 1px solid #eee;
}
#subnav li {
  display:block;
}
#subnav a{
  display: block;
  padding: .125rem 1.5rem;
  color: #99979c;
}

/**
 * Playground status -- spinners on all but danger + success
 */
#status li:last-child:after{
  content: ' ';
  height: .9em;
  width: .9em;
  display:inline-block;
  animation: rotate-spinner 0.8s infinite linear;
  border: 2px solid rgba(0,0,0,.5);
  border-right-color: transparent;
  border-radius: 50%;
  margin: 0px 0px 0px .5em;
}
#status li.list-group-item-success:last-child:after,
#status li.list-group-item-danger:last-child:after{
  content: normal;
}
@keyframes rotate-spinner {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

/**
 * Bootstrap changes
 */

.card-footer{
  background:none;
  border-top:none;
}
.card-body{
  padding-bottom: .5rem;
}

/**
 * Prism
 */
.line-highlight{
  margin-top: .5em; // unclear why adjustment needed -- bootstrap compat? orig value is 1em;
}


