
{{% partial /_layout }}

{{<layout}}

{{$content}}

<article>
    <h1>Page Not Found</h1>

    <section>
        Can't find what you're looking for?  Perhaps it's moved -- just use the links
        on the left to get started.
    </section>
</article>

{{/content}}
{{/layout}}