$startYear: '2017';
$year: '2019';

$status-up: 'Fully Operational';
$status-down: 'System Down';
$status-partial: 'Partially Unavailable';
$status-maintenance: 'Scheduled Maintenance';
$status-error: 'Error Checking Status';