.background-settings{
  background-image: url(/images/settings.svg)
}
.background-examples{
  background-image: url(/images/examples.svg)
}
.background-releases{
  background-image: url(/images/releases.svg)
}
.background-integrations{
  background-image: url(/images/integrations.svg)
}
.background-dev{
  background-image: url(/images/dev.svg)
}
.background-models{
  background-image: url(/images/models.svg)
}
.background-fields{
  background-image: url(/images/fields.svg)
}
.background-views{
  background-image: url(/images/views.svg)
}
.background-controllers{
  background-image: url(/images/controllers.svg)
}
.background-users{
  background-image: url(/images/users.svg)
}
.background-modules{
  background-image: url(/images/modules.svg)
}