@import "/style/variables";

#sidebar{
  $nav-category-left: 1.5rem;
  $selection-indicator-width: 3px;

  z-index: $zindex-sticky;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: $box-border;

  font-size: .9rem;

  padding-top: 1rem;
  padding-bottom: 2rem;

  ul{
    list-style-type: none;
    display: none;
    margin-bottom: .75rem;
    padding-bottom: .75rem;
    padding-left: $nav-category-left;
    border-bottom: $box-border;
  }
  ul.is-active{
    display:block;
  }

  .nav-category:after{
    @include arrow;
    right: 1rem;
    border: 1px solid $grey-dark;
    border-radius: 0px;
    border-right: 0;
    border-top: 0;
    pointer-events: auto;
  }

  .nav-category.is-active:after{
    margin-top: 0;
    border: 1px solid $grey-dark;
    border-radius: 0px;
    border-left: 0;
    border-bottom: 0;
  }

  .nav-separator{
    border-top: $box-border;
    margin-top: 1rem;
    margin-bottom: 1rem
    //padding-top: 1rem;
  }

  .nav-separator a,
  .nav-separator a:active,
  .nav-separator a:visited{
    text-decoration: none;
    color: black;
  }

  //nav h1 svg{
  //  vertical-align: text-bottom;
  //  margin-right: .15rem;
 // }

  .is-selectable-nav-link{
    border-right: $selection-indicator-width solid transparent;

    &.is-active{
      border-right: $selection-indicator-width solid $link;
    }
  }

  .nav-category + ul a{
    border-radius: 0;
    padding: 0;
    color: $grey-dark;
    display:block;

    &:visited{
      color: $grey-dark;
    }
    &:hover {
      color: black;
    }
  }

  .main-nav-link{
    cursor: pointer;
    position: relative;
    @include unselectable;
    background-repeat: no-repeat;
    background-position: 0rem 50%;
    background-size: 1.25rem 1.25rem;
    padding-left: $nav-category-left;
    overflow: hidden;
    font-weight: $weight-medium;
    display: block;
    color: $grey-dark;

    //&:not(:first-child) {
      padding-top: .25rem;
    //}
    padding-bottom: .25rem;

    &:hover{
      color: $black;
    }
  }
}

@include desktop() {
  #sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: $navbar-total-height;
  }
}