@import "/style/variables";
@import "/🎨";

@keyframes status-pulse {
  from, 50%, to {
    opacity: 1;
  }

  45%, 85% {
    opacity: .25;
  }
}

$status-text: (
  up: $status-up,
  down: $status-down,
  partial: $status-partial,
  maintenance: $status-maintenance,
  error: $status-error
);

$status-color: (
  up: $success,
  down: $danger,
  partial: $warning,
  maintenance: $warning,
  error: $warning
);

#status {
  font-size: .8rem;
  line-height: inherit;
}

#status-indicator:after{
  content: '';
  height: 6px;
  width: 6px;
  margin-right: .5rem;
  margin-bottom: 1px;
  border-radius: 4px;
  display:inline-block;
  animation: status-pulse 3s infinite linear;
}

@mixin status($status) {
  #status.#{$status}{
    #status-text:after {
      content: map-get($status-text, $status);
      color: map-get($status-color, $status);
    }
    #status-indicator:after{
      box-shadow: 0 0 0px 1px map-get($status-color, $status);
      background-color: map-get($status-color, $status);
    }
  }
}

@each $status-type, $status-string in $status-text {
  @include status($status-type);
}