@import "/style/variables";

////////////

@import "/bulma/utilities/all";

@import "/bulma/base/_all";

@import "/bulma/elements/box";
@import "/bulma/elements/button";
@import "/bulma/elements/container";
@import "/bulma/elements/icon";
@import "/bulma/elements/image";
@import "/bulma/elements/title";
@import "/bulma/elements/table";
@import "/bulma/elements/progress";

// .number screws up prismjs: @import "/bulma/elements/other";

// warning, interferes with prismjs: @import "/bulma/elements/tag"; // so instead:
@import "/style/badge";

@import "/bulma/components/navbar";
@import "/bulma/components/modal";
@import "/bulma/components/level";
@import "/bulma/components/tabs";

@import "/bulma/grid/columns";

@import "/bulma/form/all";

////////////

@import "/style/prism";
@import "/style/alert";
@import "/style/article";
@import "/style/sidebar";
@import "/style/toc";
@import "/style/build";

@import "/js/tabs";

////////////

.icon > svg{
  width: 100%;
  height: 100%;
  fill: rgba(0,0,0,.7);

  .icon-accent{
    opacity: 0.1;
  }
}

.is-scrolled .navbar{
  border-bottom: $box-border;
}

.navbar-brand .logo svg{
  height: 1.5rem;
  fill: $black;
  margin-top: 1px; // TODO resolve somehow with flex / align?
}


.nowrap{
  white-space: nowrap;
}

.delete {
  @extend %delete;
}

.small, small{
  font-size: $size-7;
}

td.align-bottom{
  vertical-align: bottom;
}

.alert.is-small{
  font-size: .85rem;
}

.navbar-title{
  visibility: hidden;
}
.is-scrolled .navbar-title{
  visibility: visible;
}

main {
  margin-top: $navbar-total-height;

  // for mobile:
  margin-left: 1rem;
  margin-right: 1rem;

  // for sticky:
  position: relative;
}

body {
  pre[class*="language-"] {
    /**
     * Same as .box
     */
    @extend %block;
    background-color: $box-background-color;
    border-radius: $box-radius;
    box-shadow: $box-shadow;
    color: $box-color;
    display: block;
    padding: $box-padding;
    border: $box-border;
  }

  /**
   * Designed to always be stacked on top of another language.
   * In other words, this always "goes with" another pre language block.
   */
  pre[class*="language-file-name"]{
    background: $grey-lightest !important;
    font-size: .8em;
    z-index: 1;
    position: relative;
    display:inline-flex;
    padding: .75em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -2px !important;

    /**
     * Stacking file-name on top of another language,
     * bring them up tighter together.
     */
    + pre[class*="language-"]{
      margin-top: 0rem;
      border-top-left-radius: 0;
      z-index: 2;
      position: relative;
    }
  }
}

main + footer{
  margin-top: 10rem !important;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  border-top: $box-border;
  text-align: right;
  font-size: .8rem;
}



