@import "/style/variables";

////////////

@import "/bulma/utilities/all";

@import "/bulma/base/_all";

@import "/bulma/elements/box";
@import "/bulma/elements/button";
@import "/bulma/elements/container";
@import "/bulma/elements/form";
@import "/bulma/elements/icon";
@import "/bulma/elements/image";
@import "/bulma/elements/title";
@import "/bulma/elements/table";
@import "/bulma/elements/progress";
// .number screws up prismjs: @import "/bulma/elements/other";

// warning, interferes with prismjs: @import "/bulma/elements/tag"; // so instead:
@import "/style/badge";

@import "/bulma/components/navbar";
@import "/bulma/components/modal";

@import "/bulma/grid/columns";

////////////


@import "/style/prism";
@import "/style/alert";
@import "/style/article";
@import "/style/sidebar";
@import "/style/toc";
@import "/style/build";

////////////

.delete {
  @extend %delete;
}

.small, small{
  font-size: $size-7;
}

td.align-bottom{
  vertical-align: bottom;
}

.alert.is-small{
  font-size: .85rem;
}

.article-list{
  display: flex;
  flex-wrap: wrap;

  h2{
    font-weight: $weight-medium;
  }
  a{
    width: 100%;

    @extend %block;

    background-color: $box-background-color;
    border-radius: $box-radius;
    box-shadow: $box-shadow;
    color: $box-color;
    display: block;
    padding: $box-padding;
    border: $boxed-border;

    margin: .25rem !important;

    &:hover,
    &:focus {
      box-shadow: $box-link-hover-shadow;
    }

    &:active {
      box-shadow: $box-link-active-shadow;
    }
  }
  @include tablet{
    a{
      width: 48%;
    }
  }
}


.navbar-title{
  visibility: hidden;
}
.is-scrolled .navbar-title{
  visibility: visible;
}

main {
  margin-top: $navbar-total-height;
  background: $main-bg-color;

  // for mobile:
  margin-left: 1rem;
  margin-right: 1rem;
}

body {
  pre[class*="language-"] {
    @include is-boxed;
  }

  /**
   * Designed to always be stacked on top of another language.
   * In other words, this always "goes with" another pre language block.
   */
  pre[class*="language-file-name"]{
    background: whitesmoke !important;
    font-size: .8em;
    z-index: 1;
    position: relative;
    display:inline-flex;
    padding: .75em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -2px;

    /**
     * Stacking file-name on top of another language,
     * bring them up tighter together.
     */
    + pre[class*="language-"]{
      margin-top: 0rem;
      //margin-top: -$article-block-spacing - .25rem; // warning: this is touchy, across browsers too
      border-top-left-radius: 0;
      //border-top-right-radius: 0;
      z-index: 2;
      position: relative;
    }
  }
}

main + footer{
  margin-top: 10rem !important;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  border-top: $boxed-border;
  text-align: right;
  font-size: .8rem;
}

.is-scrolled .navbar{
  border-bottom: $boxed-border-lighter;
}

.navbar-brand .logo svg{
  height: 1.25rem;
  overflow:visible;
  margin-bottom: 1px;
}


