@import "/style/variables";

////////////

@import "/bulma/utilities/all";

@import "/bulma/base/_all";

@import "/bulma/elements/box";
@import "/bulma/elements/button";
@import "/bulma/elements/container";
@import "/bulma/elements/form";
@import "/bulma/elements/icon";
@import "/bulma/elements/image";
@import "/bulma/elements/title";
@import "/bulma/elements/table";
@import "/bulma/elements/progress";

// warning, interferes with prismjs: @import "/bulma/elements/tag";

@import "/bulma/components/navbar";
@import "/bulma/grid/columns";

////////////


@import "/style/prism";
@import "/style/alert";
@import "/style/article";
@import "/style/sidebar";
@import "/style/toc";
@import "/style/build";
@import "/style/status";

////////////

.alert.is-small{
  font-size: .85rem;
}

.article-list{
  display: flex;
  flex-wrap: wrap;

  h2{
    font-weight: $weight-medium;
  }
  a{
    width: 100%;

    @extend %block;

    background-color: $box-background-color;
    border-radius: $box-radius;
    box-shadow: $box-shadow;
    color: $box-color;
    display: block;
    padding: $box-padding;
    border: $boxed-border;

    margin: .25rem !important;

    &:hover,
    &:focus {
      box-shadow: $box-link-hover-shadow;
    }

    &:active {
      box-shadow: $box-link-active-shadow;
    }
  }
  @include tablet{
    a{
      width: 48%;
    }
  }
}


.navbar-title{
  visibility: hidden;
}
.is-scrolled .navbar-title{
  visibility: visible;
}

main {
  margin-top: $navbar-total-height;
  background: $main-bg-color;

  // for mobile:
  margin-left: 1rem;
  margin-right: 1rem;

  pre[class*="language-"] {
    @include is-boxed;
  }
}

main + footer{
  margin-top: 10rem !important;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-top: $boxed-border;
  text-align: right;
  font-size: .8rem;
}

.is-scrolled .navbar{
  border-bottom: $boxed-border-lighter;
}
.navbar-brand .logo svg{
  height: 1.25rem;
}


