.stacklane-tool-frame{
    height:42px;
    width:42px;
    z-index: 10000;
    position: fixed;
    right: 15px;
    bottom: 15px;
    margin:0;
    padding:0px;
    border:1px solid rgba(0,0,0,0);
    border-radius: 3px;
    overflow:scroll;
    transition: height 0.5s;
}
.stacklane-tool-frame:hover{
    height: 100px;
    width: 170px;
    border-color: rgba(0,0,0,0.05);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}