.stacklane-tool-frame{
    height:400px;
    width:200px;
    z-index: 10000;
    position: fixed;
    right: 15px;
    bottom: 15px;
    margin:0;
    padding:0;
    border:none;
    overflow:scroll;
    pointer-events:none;
}