
{{% partial /_layout }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Error Handling</h1>

        <p>
            Learn about setting up a view for handling unexpected errors.
        </p>
    </header>

    <section>


        - scoping
        - NotFound vs nothing


    </section>


</article>


{{/content}}
{{/layout}}
