
{{% partial /_layout }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Suppliers</h1>

        <p>
            Learn about sharing and reusing values across multiple scripts and views.
        </p>
    </header>

    <section>

        - mention path as "scope"
        - infinity
        - allowed exports
        - overriding
        -

    </section>


</article>


{{/content}}
{{/layout}}
