
{{% import {RepoUrl, SiteId} from '📤' }}

{{% partial /_layout }}

{{<layout}}
{{$content}}

<input type="hidden" id="SiteId" value="{{SiteId}}">

<link itemprop="content-security-policy" data-connect-self="true">

<article>
    <header>
    <h1>
        Playground
    </h1>
    <h6>
        {{RepoUrl}} <button id="repo-refresh-action" class="btn btn-light btn-sm">Refresh</button>
    </h6>
    </header>

    <section>
        <div class="border rounded p-1 border-secondary">
            <ul class="list-group" id="status">
                <li class="list-group-item list-group-item-warning">Initializing</li>
            </ul>
        </div>

        <div id="launch" class="d-none mt-4">
            <a id="launch-link" href="#" class="btn btn-primary">Launch</a>
        </div>
    </section>

</article>

<script src="_index.js"></script>

{{/content}}
{{/layout}}
