
{{% import {RepoUrl, SiteId} from '📤' }}

{{% partial /_layout }}

{{<layout}}
{{$content}}

<input type="hidden" id="SiteId" value="{{SiteId}}">

<link itemprop="content-security-policy" data-connect-self="true">

<article>
    <header>
    <h1>
        Playground
    </h1>
    <h6>
        {{RepoUrl}}
    </h6>
    </header>

    <section>
        <button id="repo-refresh-action" class="btn btn-light btn-sm">Refresh</button>
        
        <a id="launch-link" href="#" class="d-none btn btn-primary btn-sm">Launch</a>
    </section>

    <section>
        <h2>Build</h2>
        <ul class="list-group small" id="status">
            <li class="list-group-item list-group-item-warning">Initializing</li>
        </ul>
    </section>

</article>

<script src="_index.js"></script>

{{/content}}
{{/layout}}
