
{{% partial /_layout }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Scripting Modules/Libraries</h1>

        <p>
            Learn about available modules to use in server-side JavaScript.
        </p>
    </header>

    <section>
        <h2>Query/URL Parameters</h2>

        <p>
            Access URL query parameters via the '&' module.
        </p>
        <p>
        <pre><code class="language-javascript">
/* import all at a prefix */

import * as Params from '&';

/* or, individual parameters */

import {specific, param, here as Other}  from '&';
            </code></pre>
        </p>
    </section>

    <section>
        <h2>Utilities</h2>
        <p>
            The utilities module is named named '⚙' and exports the following objects and methods.
            All utilities are safe and efficient to use during any HTTP method.
        </p>
        <h3>Encoding</h3>
        <p>
        <pre><code class="language-javascript">
import {Encoding} from '⚙';

Encoding.base64Url().encode('string');
Encoding.base64Url().encodeNum(1234);
            </code></pre>
        </p>
        <p>

        </p>
    </section>

</article>

{{/content}}
{{/layout}}

