
{{% partial /_layout }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Definition</h1>

        <p>
            Learn about defining model types.
        </p>
    </header>


</article>


{{/content}}
{{/layout}}
