
{{% partial /_layout }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Queries</h1>

        <p>
            Learn about query / search capabilities.
        </p>
    </header>


</article>


{{/content}}
{{/layout}}
