
{{% partial /_layout }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Model Types</h1>

        <p>
           Learn about model types, and how to choose the best for the job.
        </p>
    </header>

    <section>

    </section>



</article>

{{/content}}
{{/layout}}
