
{{% partial /_layout }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Model Definition</h1>

        <p>
            Learn about defining model and field types.
        </p>
    </header>

    <section>
        <p>
            To define and use data models in your project, create a directory named "📦" in the root
            of your project.  This directory will contain <code>.yaml</code> files that
            define the model names and fields, as well as the structure of parent/child (container) relationships.
        </p>
    </section>



</article>


{{/content}}
{{/layout}}
