
{{% partial /_layout }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Definition</h1>

        <p>
            Learn about defining model and field types.
        </p>
    </header>

    <section>
        <h1><a name="queries"></a></h1>
    </section>

</article>


{{/content}}
{{/layout}}
