
{{% partial /_layout }}

{{<layout}}
{{$content}}

<article>
    <header>
        <h1>Model Data Overview</h1>

        <p>
            Learn how to create data driven applications with Stacklane.
        </p>
    </header>

    <section>
        <p>
            With Stacklane you never have to worry about indexes, sharding, or scaling.  We provision
            automatically based on the model types chosen and the access patterns expected of them.
        </p>

        <p>
            Models represent structured data. Model <a href="/models/types">types</a> describe the overarching
            use case for the data, and the system determines the best underlying way to carry out that use case.
            Model types have defining characteristics, advantages, and disadvantages,
            that facilitate choosing one over the other.
        </p>

        <p>
            Modeling best practices follow those of document based databases, such as MongoDB.
            Document based modeling usually calls for much more denormalization than relational databases.
            For example, the classic Order/OrderItem two table relationship, would likely become a single
            Order document with nested/embedded OrderItems.
            In a document based world there is no joining or foreign keys, only documents (Models) of a given type.
        </p>
    </section>

    <section>
        <div class="alert alert-secondary" role="alert">
            Next: Learn about <a href="/models/types">Model Types</a>
        </div>
    </section>
</article>

{{/content}}
{{/layout}}
